# Thư mục cấu hình của PyCharm
.idea/

# Môi trường ảo (Virtual Environment)
venv/
*.egg-info/

# Các file biên dịch Python
*.pyc
__pycache__/

# Các file log, database local, v.v.
*.log
dist/

build/

main.spec

src/data/

src/logo.png
src/settings.ini
src/tools/sync_app/logs
src/tools/sync_app/sync.py
src/tools/pull_data/main_etl.py