# Thư mục cấu hình của PyCharm
.idea/

# Môi trường ảo (Virtual Environment)
venv/
*.egg-info/

# Các file biên dịch Python
*.pyc
__pycache__/

# Các file log, database local, v.v.
*.log

build/

main.spec
PhanMemBenhVien.spec

src/data/
src/settings.ini

dist/data/
dist/main/main.exe
dist/main/_internal
dist/settings.ini
